* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#root {
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  --midnight-blue: #0b1842;
  --white: #ffffff;
  --purple: #b651ff;
  --denim-blue: #004bc4;
  --baby-blue: #35eff4;
}

main {
  flex-grow: 1;
  display: flex;
  margin: 40px auto;
}