.notifications_header {
    position: absolute;
    top: 20px;
    left: 130px;
    width: 50px;
    height: 20px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.notifications_unread {
    color: red;
}

.notifications_header:hover {
    cursor: pointer;
}

.notifications_box_container {
    position: absolute;
    top: 55px;
    left: 0;
    padding: 10px 20px;
    color: var(--midnight-blue);
    background-color: var(--white);
    border-radius: 5px;
}

.notifications_box_container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notifications_box_container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.notifications_box_btns {
    display: flex;
    gap: 7px;
}

.notifications_box_btns button {
    padding: 5px;
    color: var(--white);
    border-radius: 2px;
    border: none;
}

.notification_btn_accept {
    background-color: yellowgreen;
}

.notification_btn_reject {
    background-color: red;
}

.notification_btn_read {
    background-color: orange;
}

.notifications_box_btns button:hover {
    cursor: pointer;
    background-color: var(--midnight-blue);
}
