.questions-page-wrapper {
    width: 1200px;
    height: 100%;
    display: flex;
}

.questions-page-wrapper > section:nth-child(1)  {
    flex-basis: 300px;
    display: flex;
    justify-content: center;
}

.questions-page-wrapper > section:nth-child(2) {
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

.questions-page-wrapper > section:nth-child(3) {
    flex-basis: 300px;
    text-align: center;
}

.players-points-wrapper {
    width: 250px;
    height: 120px;
    padding: 10px;
    font-size: 1.1rem;
    color: var(--white);
    background-color: var(--midnight-blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.players-points {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.players-points-wrapper h3 {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid var(--white);
}

.players-points > p {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.players-points > p > span:nth-child(1) {
    width: 150px;
    overflow: hidden;
}

.players-points > p > span:nth-child(2) {
    text-align: right;
    width: 80px;
}

.categories-names {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.category-box {
    width: calc((600px - 30px) / 4);
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
    color: var(--white);
    background-color: var(--midnight-blue);
    box-shadow: var(--white) 0px 2px 5px;
    border-radius: 5px;
}

.questions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.questions-container > div {
    width: 100%;
    display: flex;
    gap: 10px;
}

.question-box {
    width: calc((600px - 30px) / 4);
    padding: 10px 0;
    text-align: center;
    font-weight: 900;
    color: var(--white);
    background-color: var(--purple);
    border: 1px solid var(--white);
    border-radius: 5px;
}

.active-box:hover {
    cursor: pointer;
    color: var(--midnight-blue);
    background-color: var(--white);
}

.inactive-box {
    opacity: 0.8;
}

.question-answered {
    background-color: var(--midnight-blue);
} 