nav {
    margin: 0;
    padding: 20px 40px;
    background-color: #B99470;
}

nav ul {
    display: inline-block;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

.logo {
    float: left;
}


.profile {
    float: right;
}