.notifications_header {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}

.notifications_unread {
    color: red;
}

.notifications_header:hover {
    cursor: pointer;
}

.notifications_box_container {
    position: absolute;
    width: max-content;
    top: 63px;
    right: 70px;
    padding: 10px 20px;
    color: var(--midnight-blue);
    background-color: white;
    border-radius: 5px;
}

.notifications_box_container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notifications_box_container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.notifications_box_btns {
    display: flex;
    gap: 7px;
}

.notifications_box_btns button {
    font-size: 0.9rem;
    text-transform: lowercase;
    padding: 3px 5px;
    color: var(--white);
    border-radius: 2px;
    border: none;
}

.notification_btn_accept {
    background-color: yellowgreen;
}

.notification_btn_reject {
    background-color: red;
}

.notification_btn_read {
    background-color: orange;
}

.notifications_box_btns button:hover {
    cursor: pointer;
    color: white;
}