main {
   margin: 40px auto;
}

.leaderboards div {
    float: left;
    width: 50%;
    height: 300px;
}

.leaderboards div p {
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #A6B37D;
    text-transform: uppercase;
}

.leaderboards div ul {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #C0C78C;
}

.leaderboards div ul li {
    list-style-type: none;
}

.play-button button{
    width: 250px;
    height: 100px;
    margin-top: 90px;
    margin-bottom: 70px;
    background-color: #A6B37D;
    text-transform: uppercase;
}