.home-container {
    flex-grow: 1;
    padding: 30px 60px;
    display: flex;
    background-color: var(--baby-blue);
}

.home-container>section {
    flex: 0 0 50%;
    text-align: center;
}

.points-info-and-play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.points-info-and-play-button p {
    height: 130px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: var(--white);
    background-color: var(--midnight-blue);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.play-button {
    width: 80%;
    height: 130px;
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 5px;
    border: none;
    position: relative;
    animation: mymove 3s infinite;
    animation-direction: alternate-reverse;
}

@keyframes mymove {
    from {
        background-color: var(--purple);
    }

    to {
        background-color: var(--midnight-blue);
    }
}


.play-button:hover {
    cursor: pointer;
    font-size: xx-large;
    font-weight: 900;
}

.leaderboard-all-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.leaderboard-wrapper {
    width: 70%;
    color: var(--white);
    background-color: var(--midnight-blue);
    border-radius: 5px;
}

.leaderboard-all-time p {
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border-bottom: 1px solid var(--white);
}

.leaderboard-all-time ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.leaderboard-all-time ul li {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.leaderboard-player-info {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.leaderboard-all-time p,
.leaderboard-player-info span:last-child,
.leaderboard-points {
    font-size: 1.2rem;
}