.notifications_box_container {
    position: absolute;
    top: 55px;
    right: 0;
    padding: 10px 20px;
    color: var(--midnight-blue);
    background-color: var(--white);
    border-radius: 5px;
}

.notifications_box_container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notifications_box_container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.notifications_box_btns {
    display: flex;
    gap: 7px;
}

.notifications_box_btns button {
    padding: 5px;
    color: var(--white);
    border-radius: 2px;
    border: none;
}

.notifications_box_btns button:first-of-type {
    background-color: yellowgreen;
}

.notifications_box_btns button:last-of-type {
    background-color: red;
}

.notifications_box_btns button:hover {
    cursor: pointer;
    background-color: var(--midnight-blue);
}
