.not-found-wrapper {
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.not-found-msg {
    font-size: 3rem;
    font-weight: bold;
    color: var(--midnight-blue);
    text-transform: uppercase;
    word-spacing: 0.5cm;
    letter-spacing: 0.1cm;
}

.not-found-get-back {
    font-size: 1.5rem;
}

.not-found-link {
    text-decoration: underline;
}

.not-found-link:hover {
    cursor: pointer;
    color: var(--purple);
}