.create-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.create-container section {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
}

.create-container section p {
    width: 70%;
    height: 200px;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-container section p:hover {
    cursor: pointer;
    background-color: var(--chart-3);
}

.category-select {
    width: 100%;
    text-align: center;
}

.textarea-question {
    min-width: 100%;
    max-width: 505px;
    min-height: 50px;
    max-height: 150px;
}

.category-span {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #000;
    background-color: var(--white);
    border: none;
    border-radius: 2px;
}

.create-questions-paragraph {
    text-align: center;
}

.create-question-wrapper {
    height: 35px;
    display: flex;
    gap: 10px;
}

.create-question-input {
    width: 450px;
    height: 100%;
    padding: 5px;
    font-size: 1rem;
}

.create-question-button {
    width: 45px;
    height: 100%;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    border: none;
    border-radius: 2px;
}

.create-question-button:hover {
    cursor: pointer;
    border: 1px solid var(--white);
}

.true {
    background-color: green;
}

.false {
    /* background-color: red; */
    border: 2px solid red;
}

.question-btns {
    display: flex;
    align-items: center;
}

.question-btns button {
    width: 200px;
}

.loading-wrapper {
    margin: auto;
}