.create-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.create-container section {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
}

.create-container section p {
    width: 70%;
    height: 200px;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-container section p:hover {
    cursor: pointer;
    background-color: var(--chart-3);
}

.false_field {
    border: 2px solid red;
}