.confirm-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.696);
    opacity: 1;
    z-index: 1;
}

.confirm-message {
    position: relative;
    width: 600px;
    top: calc(25vh);
    left: calc(50% - 300px);
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background-color: var(--white);
    border: 2px solid var(--midnight-blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.confirm-buttons {
    display: flex;
    justify-content: space-evenly;
}

.confirm-buttons button {
    padding: 15px 60px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    border-radius: 5px;
}

.confirm-buttons button:first-child {
    background-color: var(--midnight-blue);
}

.confirm-buttons button:last-child {
    background-color: var(--purple);
}

.confirm-buttons>button:hover {
    cursor: pointer;
    color: var(--midnight-blue);
    background-color: var(--baby-blue);
}

