.connect-players-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.connect-players-wrapper p {
    padding: 20px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: var(--white);
    background-color: var(--midnight-blue);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
