.play_page_container {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.play_page_container > section:first-of-type {
    flex: 0 0 65%;
    padding: 30px;
    background-color: var(--baby-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play_page_container > section:last-of-type {
    flex-grow: 1;
    padding: 30px;
    background-color: var(--purple);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}