.show_question_container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 30px;
}

.show_question_wrapper {
  margin-top: 20px;
  padding: 15px;
  font-size: 2rem;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.show_question_wrapper>h1 {
  padding: 10px 15px;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.answers_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.answer_box {
  flex: 0 0 100%;
  text-align: left;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  align-self: stretch;
  border: 2px solid black;
}

.answer_box_active:hover {
  cursor: pointer;
  border-color: var(--ring);
}

.answer_correct {
  background-color: yellowgreen;
  border-color: yellowgreen;
}

.answer_wrong {
  background-color: red;
  border-color: red;
}

.answer_chosen {
  border-color: white;
}