.game-container {
    padding-bottom: 20px;
    flex-grow: 1;
    align-content: center;
    justify-items: center;
    background-color: var(--baby-blue);
}

.game-wrapper {
    width: 500px;
    padding: 20px;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--white);
    background-color: var(--midnight-blue);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.str-chat {
    flex-grow: 1;
    display: flex;
}

.str-chat__container {
    flex-grow: 1;
    display: flex;
}
