header {
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    background-color: #B99470;
}

nav {
    width: 100%;
    margin: 0 auto 60px auto;
    padding: 5px 0;
    text-align: center;
    font-size: large;
}

nav ul {
    display: inline-block;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

.logo {
    float: left;
    margin-left: 20px;
}

.profile {
    float: right;
    margin-right: 20px;
}

.profile a {
    text-decoration: none;
    color: #000;
}

.profile a:hover {
    cursor: pointer;
    color: #fff;
}

.connected {
    color: greenyellow;
}

.disconnected {
    color: red;
}