.starting_player {
  width: 600px;
  height: 300px;
  font-size: 7rem;
  color: var(--white);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: visualize-player 1.8s ease-in 0s 1 normal both;
}

@keyframes visualize-player {
  0% {
    animation-timing-function: ease-in;
    opacity: 0.6;
    transform: translateY(45px);
    background-color: var(--purple);
  }

  24% {
    opacity: 0.8;
    background-color: var(--midnght-blue);
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(24px);
    background-color: var(--midnght-blue);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(12px);
    background-color: var(--purple);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(6px);
    background-color: var(--midnght-blue);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(4px);
    background-color: var(--purple);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
    background-color: var(--midnght-blue);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
    background-color: var(--purple);
  }
}
