.game_room_wrapper {
  width: fit-content;
  font-size: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.game_room_wrapper h3 {
  text-align: center;
}

.game_room_players {
  height: 300px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.game_room_players > div {
  justify-items: center;
  align-content: center;
}

.game_room_player_name {
  width: 40%;
  min-width: 220px;
  max-width: 400px;
  padding: 10px;
  color: var(--white);
  border-radius: 20%;
  background-color: var(--midnight-blue);
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.game_room_player_name p {
  width: 200px;
  text-align: center;
  overflow: clip;
}

.game_room_vs {
  width: 10%;
}

.game_room_player_name .button {
  padding: 20px 30px;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
}

.game_room_player_name .button:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--purple);
}

.game_room_player_name:last-of-type {
  position: relative;
}

.game_room_player_name:last-of-type p .game_room_cancel_btn {
  position: absolute;
  left: calc(50% - 45px);
  bottom: 10px;
  width: 90px;
  padding: 5px;
  color: var(--white);
  background-color: red;
  border-radius: 5px;
  border: none;
}

.game_room_player_name:last-of-type p .game_room_cancel_btn:hover {
  cursor: pointer;
  color: #000;
  background-color: var(--white);
}

.game_room_btn {
  text-align: center;
}