.about-container {
    padding: 30px 60px;
    text-align: justify;
    font-size: 1.2rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-container section {
    padding: 15px;
    background-color: var(--midnight-blue);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-container section h2 {
    text-align: center;
}

.about-container section p {
   line-height: 25px;
}

.about-link {
    color: var(--purple);
}

.about-link:hover {
    cursor: pointer;
    text-decoration: underline;
}