.final_result {
  width: 600px;
  padding: 15px;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.final_result > p:nth-child(1) {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid white;
}

.final_players {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.final_vs {
  width: 10%;
  text-align: center;
}

.final_first_player,
.final_second_player {
  width: 45%;
  display: flex;
  gap: 5px;
}

.final_first_player span:nth-child(1),
.final_second_player span:nth-child(1) {
  max-width: 60%;
  overflow: hidden;
}

.final_first_player {
  justify-content: left;
}

.final_second_player {
  justify-content: right;
}