.friends_list_wrapper {
  padding: 10px;
  width: 350px;
  height: 320px;
  font-size: 1.2rem;
  color: var(--white);
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.friends_list_wrapper h3 {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}

.friends_list_wrapper ul {
  flex-grow: 1;
  padding: 0 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.friends_list_wrapper li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.friends_list_wrapper p {
  text-align: center;
}

.friend_online .friend_username,
.friend_offline .friend_username {
  width: 220px;
  overflow-x: clip;
}

.friend_game_in_progress .friend_username {
  width: 170px;
  overflow-x: clip;
}

.friend_game_req {
  display: flex;
  align-items: center;
  gap: 10px;
}

.friend_game_req i:hover {
  cursor: pointer;
  color: var(--baby-blue);
}

.friend_status {
  padding: 5px;
  text-align: center;
  font-size: 0.9rem;
  color: #000;
  border-radius: 5px;
}

.friend_online .friend_status {
  width: 50px;
  background-color: greenyellow;
}

.friend_offline .friend_status {
  width: 50px;
  background-color: red;
}

.friend_game_in_progress .friend_status {
  width: 130px;
  background-color: orange;
}

.add_friend {
  padding-top: 10px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-size: 0.9rem;
}

.add_friend > * {
  padding: 4px;
  border-radius: 5px;
  border: none;
}

.add_friend input {
  flex-grow: 1;
}

.add_friend button {
  color: white;
  background-color: black;
}

.add_friend button:hover {
  cursor: pointer;
}
